In [1]:
import orchest
import pandas as pd
import sklearn
from sklearn import datasets

In [2]:
data = datasets.fetch_california_housing()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to /home/jovyan/scikit_learn_data

In [3]:
# make it into a pandas df
data_df = pd.DataFrame(data["data"], columns=data["feature_names"])
target_df = pd.DataFrame(data["target"], columns=["MedHouseVal"])
data_df = pd.concat([data_df, target_df], axis=1)

In [4]:
data_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [5]:
# now that we have retrieve the data we need, pass it to the next steps
orchest.output(data_df)